<!DOCTYPE html>
<html lang="en">
    <head>   
        <title>TinyApp</title>
    </head>
<body style="font-size:20px; padding:50px;", style="">
    <h1>Login</h1>
    <form method="POST", action="/login">
        <label for="urls/login">Enter Email:</label>
        <input type="email" name="email">
        <br><label for="urls/login">Enter Password:</label>
        <input  type="password", name="password">
        <input type="submit" value="login">
    </form>
    <a href='/register'>Register</a>
</body>
</html>