<label for="longURL">Enter a URL:</label>
<form method="POST" action="/urls/">
  <input  type="text" name="longURL" placeholder="http://" style="width: 300px">
  <input type="submit" value="Submit"></form> 