<!DOCTYPE html>
<html lang="en">
    <head>   
        <title>TinyApp</title>
    </head>
    <body style="font-size:20px; padding:50px;">
        <h1>Register</h1>
    <form method="POST", type="email", name="email", action="/register">Email
        <input id="POST", name="email", type="text",>
        <input type="text", name="password",><button type="submit">Enter</button>
    </form>
    </body>
    </html>